
<div *ngIf="products" class="table-responsive admin-product-table-container">
    <div class="mb-3">
        <h4>Product Lists</h4>
    </div>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Gender</th>
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
        <!-- <th scope="col">Product img</th> -->

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{prod.id}}</td>
        <td>{{prod.title}}</td>
        <td>{{prod.price}}</td>
        <td>{{prod.discription}}</td>
        <td>{{prod.gender}}</td>
        <td>{{prod.brand}}</td>
        <td>{{prod.category}}</td>
        <!-- <td>{{prod.product_image}}</td> -->

        <td class="d-flex gap-3"><a routerLink="/admin/product/editproduct/{{prod.id}}"><button class="btn btn-info btn-sm">Edit</button></a> <button (click)="deleteProduct(prod.id)" class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
    </tbody>
  </table>
  </div>
>

