.dashboard-container{
    width: 90%;
    margin: auto;
    text-align: center;
}

.dashboard-container div{
    border-radius: 10px;
}

.dashboard-container h4{
    color: white;
}
.dashboard-container a{
    text-decoration: none;
}