<div class="dashboard-container mt-5">

    <div class="row justify-content-around gap-3 dash-content gy-5">
        <div class="col-lg-3 col-sm-4 col-12 bg-danger p-4">
            <a routerLink="/admin/user">
                <h4>Add user</h4>
            </a>
        </div>
        <div class="col-lg-3 col-sm-4 col-12 bg-success p-4">
            <a routerLink="/admin/user/viewusers">
                <h4>View user</h4>
            </a>

        </div>
        <div class="col-lg-3 col-sm-4 col-12 bg-secondary p-4">
            <a routerLink="/admin/product">
                <h4>Add products</h4>
            </a>

        </div>
        <div class="col-lg-3 col-sm-4 col-12 bg-primary p-4">
            <a routerLink="/admin/product/viewproducts">
                <h4>View books</h4>
            </a>

        </div>
      
        <div class="col-lg-3 col-sm-4 col-12 bg-warning p-4">
            <a routerLink="/admin/orders">
                <h4>View orders</h4>
            </a>

        </div>
    </div>

</div>